.sidenav-module {
    background: linear-gradient(175deg, rgba(9, 9, 121, 1), rgba(0, 212, 255, 1));
    border: 0px;
}

.sidenav-content {
    border: 1px solid #00d5ff;
}

.menu-panel {
    border: 1px solid #00d5ff;
    width: 8vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-panel:hover{
    cursor: pointer;
}

.sidenav-container {
    border: 1px solid #000000;
    height: 85%;
}
