.sidenav-module{
    width: 15%; 
    background: linear-gradient(175deg, rgba(9,9,121,1), rgba(0,212,255,1));
    border: 0px;
}
.sidenav-content{
    border: 1px solid #000000;   
}
.sidenav-container{
    border: 1px solid #000000;
    height: 85%;
}

.sidenav{
    border: 1px solid black;
    width: 15%;
}

.logo-ganster {
    height: 91%;
    margin: 2%;
}