.roles-panel {
    background-color: #090979;
    border: 1px solid #00d5ff;
}

.roles-title {
    color: whitesmoke;
}

.router-link {
    color: whitesmoke;
}

.nav-options {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
}

.mat-expansion-panel-header{
    padding: 0 2vw;
}

a:link,
a:visited {
    text-decoration: none;
}
