<div>
    <mat-expansion-panel class="roles-panel">
        <mat-expansion-panel-header>
            <mat-panel-title class="roles-title">
                <span class="material-icons-round">
                    {{role.iconName}}
                </span><span *ngIf="isExpanded">&nbsp;&nbsp;{{role.name}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let module of role.modules" class="nav-options">
            <a class="router-link" [routerLink]="module.linkName">
                <span class="material-icons-round">
                    {{module.iconName}}
                </span>
            </a>
            <a *ngIf="isExpanded" class="router-link" [routerLink]="module.linkName">
                <span>&nbsp;&nbsp;{{module.name}}</span>
            </a>
        </div>
    </mat-expansion-panel>
</div>